<template>
    <div>Example Component</div>
</template>

<script>
export default {
    created() {
        axios.get('api/user').then(res => console.log(res.data))
    }
};
</script>

<style></style>
